include ./mixins/image.pug
include ./mixins/youtube.pug
include ./mixins/formatTimespan.pug

doctype html
//- xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"
html(lang="de")
  head
    title=(referencedFile === "index" ? "" : title + " | ") + scope.siteTitle
    if isRelease
      base(href=scope.baseUrl)
    meta(charset="utf-8")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="author" content=scope.siteTitle)

    if description
      meta(name="description" content=description)
    if keywords
      meta(name="keywords" content=keywords)

    meta(property="og:type" content="website")
    meta(property="og:image" content=scope.baseUrl + "img/logo_color.png")
    meta(property="og:locale" content="de_DE")
    meta(property="og:site_name" content=scope.siteTitle)

    meta(property="fb:admins" content="100000073380067")/

    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    style
      include ./css/app.css
    link(rel="stylesheet" media="print" href="/css/print.css?v=" + buildNumber)

    if hasAmp
      link(rel="amphtml" href=scope.baseUrl + "amp/" + referencedFile + ".html")

    include ./favicon.pug

  body(itemscope itemtype="http://schema.org/" + (schemaOrg || "WebPage"))
    nav#header.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#mvw-navbar-collapse-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="index.html")
            img(alt=scope.siteTitle src="/img/logo.svg")
        #mvw-navbar-collapse-1.collapse.navbar-collapse
          include ./topnavigation.pug

    block header

    img#print-logo.visible-print(src="/img/logo_color.png" alt=scope.siteTitle)

    #content-main.container(itemprop="mainContentOfPage")
      .row
        .col-lg-12
          h1.page-header #{title}
            if subtitle
              small #{subtitle}
          | !{breadcrumb}
      .row
        .col-lg-12
          block content

    #footer.navbar.navbar-default
      .container
        #footerLinks.muted.pull-left
          include ./footernavigation.pug

    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script
      include ./js/app.js
    block pageScripts

    if isRelease
      include ./ga.pug
