include ./mixins/image.pug
include ./mixins/youtube.pug
include ./mixins/formatTimespan.pug
include ./mixins/renderTabs.pug

doctype html
//- xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"
html(lang="de")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    title=(referencedFile === "index" ? "" : title + " | ") + scope.siteTitle
    if isRelease
      base(href=scope.baseUrl)
    meta(name="author" content=scope.siteTitle)

    if description
      meta(name="description" content=description)
    if keywords
      meta(name="keywords" content=keywords)

    meta(property="og:type" content="website")
    meta(property="og:image" content=scope.baseUrl + "img/logo_color.png")
    meta(property="og:locale" content="de_DE")
    meta(property="og:site_name" content=scope.siteTitle)

    meta(property="fb:admins" content="100000073380067")/

    style
      include ../../src/bootstrap/css/bootstrap.min.css
      include ../styles/app.css
      block pageStyles

    if hasAmp
      link(rel="amphtml" href=scope.baseUrl + "amp/" + referencedFile + ".html")

    include ./favicon.pug

  body(itemscope itemtype="http://schema.org/" + (schemaOrg || "WebPage"))
    nav.mvw-header.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#mvw-navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")
            include ../root/logo.svg
        #mvw-navbar.collapse.navbar-collapse
          include ./topnavigation.pug

    block header

    img.mvw-logo-print.visible-print(src="/img/logo_color.png" alt=scope.siteTitle)

    .mvw-content-main.container(itemprop="mainContentOfPage")
      .row
        .col-lg-12
          h1.page-header #{title}
            if subtitle
              small= " " + subtitle
          | !{breadcrumb}
      .row
        .col-lg-12
          block content

    .mvw-footer.navbar.navbar-default
      .container
        .mvw-footer-links.muted.pull-left
          include ./footernavigation.pug

    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script
      include ../scripts/app.js
      block pageScripts

    if isRelease
      include ./ga.pug
