include ./mixins/image-amp.pug

doctype html
html(amp lang="de")
  head
    meta(charset="utf-8")
    title=(page.referencedFile === "index" ? "" : page.title + " | ") + scope.siteTitle
    link(rel="canonical" href=scope.baseUrl+page.referencedFile+".html")
    meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
    script(type="application/ld+json").
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": {
          "@type":"WebPage",
          "@id":"#{scope.baseUrl}#{page.referencedFile}.html"
        },
        "headline": "#{page.title}",
        "keywords": "#{page.keywords}",
        "description": "#{page.description}",
        "datePublished": "#{page.publishedDate}",
        "publisher": {
          "@type": "Organization",
          "name": "#{scope.siteTitle}",
          "logo": {
            "@type": "ImageObject",
            "url": "#{scope.baseUrl}img/logo_color.png",
            "height": 60,
            "width": 114
          }
        },
        "author": {
          "@type": "Person",
          "name": "#{scope.siteTitle}"
        },
        "image": {
          "@type": "ImageObject",
          "url": "#{scope.baseUrl}#{page.ampLogoUrl}",
          "height": #{page.ampLogoHeight},
          "width": #{page.ampLogoWidth}
        },
        "dateModified": "#{page.publishedDate}"
      }
    style(amp-boilerplate).
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate).
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    script(async src="https://cdn.ampproject.org/v0.js")
    style(amp-custom).
      body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      #header {
        background-color: #222;
        border-color: #080808;
        border-width: 0 0 1px;
      }
      #header a {
        text-align: center;
        width: 100%;
        display: block;
      }
      #header img {
        height: 70px;
      }
      h1 {
        color: #07B;
      }
      .caption {
        font-style: italic;
        text-align: center;
      }

  body
    nav(id="header")
      a(href=scope.baseUrl class="navbar-brand")
        amp-img(title=scope.siteTitle, src="#{scope.baseUrl.slice(0, -1)}/img/logo.svg", alt=scope.siteTitle, width=131, height=70)
    h1 #{page.title}
      if page.subtitle
        small #{page.subtitle}
    block content
