extends ../template.pug

block variables
  -
    var title = "Unterstützen Sie uns über Gooding";
    var description = "Tätigen Sie wie gewohnt Ihre Einkäufe im Internet und unterstützen Sie nebenbei den Musikverein Wollbach - ganz ohne extra Kosten.";
    var keywords = "Senden, Gooding, Support";

block pageStyles
  include ../styles/gooding.css

block content
  .gooding-container
    iframe.gooding-frame(name="Gooding Shop-Widget"
                   frameborder="0"
                   allowtransparency="true"
                   scrolling="yes"
                   title="Gooding Shop-Widget"
                   src="https://erweiterungen.gooding.de/app/shop/musikverein-wollbach-e-v-81856/category/beliebteste-shops/v/1558166057.KTiqqh6uk9Q96b9A2FlZY6cJr2nKNjju3DfNf6j2oLt6Bk8yiIJkJjsN%252FbrxENWaal7bJbnl11JAI7XBhVK47z4gayfjH48YJopLcjGO8jluMvC9hCLi4ypsWH%252FHtrvdaxe9N69JcavExUkp8kouLSk4WIhsCtODUELmkynmtRMdZ%252FlaI7HWnIJge7v1sMDDZqihU3e7JkS1kUuIwg9MQQ%253D%253D")
